body {
    margin: 0;
    font-family: Verdana;
}
nav {
    width: 300px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(30,30,30);
    border-bottom-right-radius: 15px;
    border-top-right-radius:15px ;
    box-shadow:0 0 3px 5px rgba(0, 0, 0, 0.5);
}

.Brand_Container {
    text-align: center;
    color: white;
    font-family: Verdana;
    padding: 25px 0;
}
.Title {
    margin: 0;


}
.link {
    display: block;
    color: white;
    text-decoration: none;
    font-family: Verdana;
    padding: 5px 10px;
    margin: 10px 0px;
    transition: 0.3s ease;
    font-size: 110%;
}
.link:hover {
    background-color: white;
    color: rgb(30,30,30);
    font-size: 125%;
    transform: translateY(-5px);
}
.profile-name {
    position: absolute;
    display:inline-block;
    color: white;
    font-family: Verdana;
    bottom: 0;
    margin: 0;
    padding: 5px;
    font-size: 100%;
    width: 100%;
    
    
}

.main-container {
    margin-left: 310px;
    font-family: Verdana;
    width: auto;

}
.Dashboard-Title {
    background-color: gold;
    padding: 10px;
    margin-right: 10px;
    margin-top: 5px;
    border-radius: 10px;
    box-shadow:0 3px 5px rgba(0, 0, 0, 0.5);
}


.Dashboard-card {
    display: flex;
    gap: 2px;
    
}

.cards {
    width: 200px;
    padding: 20px;
    text-align: center;
    background-color: rgb(30,30, 30);
    margin: 10px;
    color: white;
    border-radius: 12px;

    transition: 0.3s ease;
}
.cards:hover {
    transform: translateY(-10px);
}

.table-content {
    justify-content: center;
    text-align: center;
}

.table-disc {
    font-family: Verdana;

}

.head-row {
    background-color: gold;
    color: black;

}

.table-content {
    background-color: rgb(30,30,30);
    color: white;
    border-radius: 10px;
    
    transition: 0.3s ease;
}

.table-content:hover {
    background-color: gold;
    color: black;
    

}
